body {
 background-color:#404040;
}

.hero-image {
    background-image:url("../images/beer-table.jpeg");
    /* background-size:cover; */
    height:250px;
    background-position:100%;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    
    
}

.title {
    color:whitesmoke;

}

.container {
    height:100vh;
    margin-top: 3%;
}
    


.search-title {
    text-align:center;
}

#search{
    margin-bottom:0px;
    background-color:whitesmoke;
    border:solid black 1px;
    height:52px;
    font-size:25px;
    margin-left:20%;
}

#search-btn { 
    width:150px;
    background-color:#ffcc33;
    color:black;
    
}

#search-btn:hover {
    background-color:teal;
    box-shadow:5px 5px  black;

}


#selections-container {
    background-image: url("../images/beer-flight.jpeg");
    background-position:center;
    background-size:100%;
    border-radius:10px;
    height:50rem;
    margin-top:10%;
    /* filter:blur(5px); */
    
}

.carSel {
    margin-top:5%;
    border:solid 5px orange;
    border-radius:10px;
    height:200px;
    background-color:rgba(255,210,77, .4);
    font-size:20px;
    color:black;
    font-weight:bold;
    padding:5%;
    text-align:center;

    
}

 .addMe:hover {
     background-color:green;
}

.addHover:hover {
    border:1px solid;
    box-shadow: 5px 10px rgba(255,255,255,.7);
    
}
.select {
    height:50px;
    width:75px;
    
}
.btn-select {
    height:200px;
    background-color:green;
    

}

#next {
    background-color: #ffcc33;
    margin:10px 0 0 40%;
    color:black;
    
    
}

#next:hover {
    background-color:teal;
    box-shadow:5px 5px  black;
}

#nexttwo {
    background-color: #ffcc33;
    margin:10px 0 0 25%;
    color:black;
    
    
}

#nexttwo:hover {
    background-color: teal;
    box-shadow:5px 5px  black;
   
}



.check-box {
    width:25%;
    height:25%;
    background-color:white;

}

.checkmark {
    height:300px;
    width:25%;
}

#start {
    background-color:whitesmoke;
    border: 2px solid black;
    margin-top:10px;
    font-size:20px;
}

#end {
    background-color:whitesmoke;
    border: 2px solid black;
    font-size:20px;
}

#map {
margin: 10% 0 10% 15%;
height: 500px;
width:70%;
background-color:greenyellow;


}
 .same {
     height:50px;
 }